.landing{
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;

    .imgCnt {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #999D9E; // Change this to your desired background color
    
      img {
      position: absolute;

        object-fit: contain !important;
        max-width: 100% !important; // Adjust this value to change the size of the centered image
        max-height: 100% !important; // Adjust this value to change the size of the centered image
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
      }
    }

  

    
    .sliderContainer{
      position: absolute;
      top: calc(100vh - 280px);
      @media (max-width: 768px) {
      top: calc(100vh - 400px);
       
    }
    }
    
    .slider{
      position: relative;
      white-space: nowrap;
    }
    
    .slider p{
      position: relative;
      margin: 0px;
      color: white;
      font-size: 13rem;
      font-weight: 500;
      padding-right: 50px;
      @media (max-width: 768px) {
      font-size: 9rem;
         
      }
    }
    
    .slider p:nth-of-type(2){
      position: absolute;
      left: 100%;
      top: 0;
    }
  
    .description{
      position: absolute;
      top: 32%;
      left: 65%;
      color: white;
      font-size: 24px;
      font-weight: 300;
      @media (max-width: 768px) {
        top: 75%;
    left: 5%;
    }
      p{
        margin: 0px;
        margin-bottom: 10px;
      }
      svg{
        transform: scale(2);
        margin-bottom: 40px;
        @media (max-width: 768px) {
          margin-bottom: 20px;

      }
      }
    }
  }
  
