.project{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 100px;
    border-top: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;

    @media (max-width: 768px) {
        flex-direction: column;
        width: -webkit-fill-available;
        padding: 20px 100px 20px 100px;

    }

    h2{
        font-size: 60px;
        margin: 0px;
        font-weight: 400;
        transition: all 0.4s;
        @media (max-width: 768px) {
            font-size: calc(clamp(3.25em, 7vw, 8em)* 0.75);
        }
    }

    p{
        transition: all 0.4s;
        font-weight: 300;
    }

    &:last-of-type{
        border-bottom: 1px solid rgb(201, 201, 201);
    }

    &:hover{
        opacity: 0.5;

        h2{
            transform: translateX(-10px);
        }

        p{
            transform: translateX(10px);
        }
    }
}